body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px
}

a {
  color: #757575
}

a,
a:hover {
  text-decoration: none
}

a:hover {
  color: #ff6700
}


.clearfix:after,
.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.hide {
  display: none !important
}


.ir {
  display: block;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden
}

.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto
}

.container:after,
.container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

.row {
  margin-left: -14px
}

.row:after,
.row:before {
  content: " ";
  display: table
}

.row:after {
  clear: both
}

/* span */

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12,
.span13,
.span14,
.span15,
.span16,
.span17,
.span18,
.span19,
.span20 {
  float: left;
  margin-left: 14px;
  min-height: 1px
}

.span1 {
  width: 48px
}

.span2 {
  width: 110px
}

.span3 {
  width: 172px
}

.span4 {
  width: 234px
}

.span5 {
  width: 296px
}

.span6 {
  width: 358px
}

.span7 {
  width: 420px
}

.span8 {
  width: 482px
}

.span9 {
  width: 544px
}

.span10 {
  width: 606px
}

.span11 {
  width: 668px
}

.span12 {
  width: 730px
}

.span13 {
  width: 792px
}

.span14 {
  width: 854px
}

.span15 {
  width: 916px
}

.span16 {
  width: 978px
}

.span17 {
  width: 1040px
}

.span18 {
  width: 1102px
}

.span19 {
  width: 1164px
}

.span20 {
  width: 1226px
}

.span-first {
  _margin-left: 0
}

.offset1 {
  margin-left: 76px
}

.offset2 {
  margin-left: 138px
}

.offset3 {
  margin-left: 200px
}

.offset4 {
  margin-left: 262px
}

.offset5 {
  margin-left: 324px
}

.offset6 {
  margin-left: 386px
}

.offset7 {
  margin-left: 448px
}

.offset8 {
  margin-left: 510px
}

.offset9 {
  margin-left: 572px
}

.offset10 {
  margin-left: 634px
}

.offset11 {
  margin-left: 696px
}

.offset12 {
  margin-left: 758px
}

.offset13 {
  margin-left: 820px
}

.offset14 {
  margin-left: 882px
}

.offset15 {
  margin-left: 944px
}

.offset16 {
  margin-left: 1006px
}

.offset17 {
  margin-left: 1068px
}

.offset18 {
  margin-left: 1130px
}

.offset19 {
  margin-left: 1192px
}

.offset20 {
  margin-left: 1254px
}

/* btn */
.btn {
  display: inline-block;
  width: 158px;
  height: 38px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #b0b0b0;
  cursor: pointer;
  transition: all .4s
}

.btn:hover {
  text-decoration: none;
  color: #b0b0b0
}

.btn:focus {
  outline: 0
}

.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .18);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .18)
}

.btn[disabled] {
  border-style: dashed !important;
  border-color: #e0e0e0;
  background-color: #fff !important
}

.btn-disabled,
.btn[disabled] {
  color: #b0b0b0 !important;
  cursor: default !important
}

.btn-disabled {
  background: #e0e0e0 !important;
  border-color: #e0e0e0 !important
}

.btn-small {
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px
}

.btn-large {
  width: 178px;
  height: 48px;
  line-height: 48px
}

.btn-biglarge {
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0
}

button.btn,
input.btn {
  width: 160px;
  height: 40px
}

button.btn-small,
input.btn-small {
  width: 120px;
  height: 30px
}

button.btn-large,
input.btn-large {
  width: 180px;
  height: 50px
}

button.btn-biglarge,
input.btn-biglarge {
  width: 300px;
  height: 54px
}

.btn-gray {
  background: #b0b0b0;
  border-color: #b0b0b0;
  color: #fff
}

.btn-gray:hover {
  background-color: #757575;
  border-color: #757575;
  color: #fff
}

.btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff
}

.btn-primary:hover {
  background-color: #f25807;
  border-color: #f25807;
  color: #fff
}

.btn-green {
  background: #83c44e;
  border-color: #83c44e;
  color: #fff
}

.btn-green:hover {
  background-color: #71b639;
  border-color: #71b639;
  color: #fff
}

.btn-orange {
  background: #ffac13;
  border-color: #ffac13;
  color: #fff
}

.btn-orange:hover {
  background-color: #ff920f;
  border-color: #ff920f;
  color: #fff
}

.btn-gold {
  background: #ffd600;
  border-color: #ffd600;
  color: #fff
}

.btn-gold:hover {
  background-color: #fec517;
  border-color: #fec517;
  color: #fff
}

.btn-ocean {
  background: #2196f3;
  border-color: #2196f3;
  color: #fff
}

.btn-ocean:hover {
  background-color: #0c80dc;
  border-color: #0c80dc;
  color: #fff
}

.btn-blue {
  background: #545ad0;
  border-color: #545ad0;
  color: #fff
}

.btn-blue:hover {
  background-color: #494fc5;
  border-color: #494fc5;
  color: #fff
}

.btn-red {
  background: #e53935;
  border-color: #e53935;
  color: #fff
}

.btn-red:hover {
  background-color: #e42a27;
  border-color: #e42a27;
  color: #fff
}

.btn-purple {
  background: #a31daf;
  border-color: #a31daf;
  color: #fff
}

.btn-purple:hover {
  background-color: #9715a2;
  border-color: #9715a2;
  color: #fff
}

.btn-pink {
  background: #f93e7a;
  border-color: #f93e7a;
  color: #fff
}

.btn-pink:hover {
  background-color: #e9306c;
  border-color: #e9306c;
  color: #fff
}

.btn-cyan {
  background: #00c0a5;
  border-color: #00c0a5;
  color: #fff
}

.btn-cyan:hover {
  background-color: #03b3ad;
  border-color: #03b3ad;
  color: #fff
}

.btn-brown {
  background: #ffcc80;
  border-color: #ffcc80;
  color: #fff
}

.btn-brown:hover {
  background-color: #f9cb7e;
  border-color: #f9cb7e;
  color: #fff
}

.btn-line-gray {
  border-color: #b0b0b0;
  background: #fff;
  color: #b0b0b0
}

.btn-line-gray:hover {
  color: #fff;
  background-color: #757575;
  border-color: #757575
}

.btn-line-primary {
  border-color: #ff6700;
  background: #fff;
  color: #ff6700
}

.btn-line-primary:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807
}

.btn-line-green {
  border-color: #83c44e;
  background: #fff;
  color: #83c44e
}

.btn-line-green:hover {
  color: #fff;
  background-color: #71b639;
  border-color: #71b639
}

.btn-line-orange {
  border-color: #ffac13;
  background: #fff;
  color: #ffac13
}

.btn-line-orange:hover {
  color: #fff;
  background-color: #ff920f;
  border-color: #ff920f
}

.btn-line-gold {
  border-color: #ffd600;
  background: #fff;
  color: #ffd600
}

.btn-line-gold:hover {
  color: #fff;
  background-color: #fec517;
  border-color: #fec517
}

.btn-line-ocean {
  border-color: #2196f3;
  background: #fff;
  color: #2196f3
}

.btn-line-ocean:hover {
  color: #fff;
  background-color: #0c80dc;
  border-color: #0c80dc
}

.btn-line-blue {
  border-color: #545ad0;
  background: #fff;
  color: #545ad0
}

.btn-line-blue:hover {
  color: #fff;
  background-color: #494fc5;
  border-color: #494fc5
}

.btn-line-red {
  border-color: #e53935;
  background: #fff;
  color: #e53935
}

.btn-line-red:hover {
  color: #fff;
  background-color: #e42a27;
  border-color: #e42a27
}

.btn-line-purple {
  border-color: #a31daf;
  background: #fff;
  color: #a31daf
}

.btn-line-purple:hover {
  color: #fff;
  background-color: #9715a2;
  border-color: #9715a2
}

.btn-line-pink {
  border-color: #f93e7a;
  background: #fff;
  color: #f93e7a
}

.btn-line-pink:hover {
  color: #fff;
  background-color: #e9306c;
  border-color: #e9306c
}

.btn-line-cyan {
  border-color: #00c0a5;
  background: #fff;
  color: #00c0a5
}

.btn-line-cyan:hover {
  color: #fff;
  background-color: #03b3ad;
  border-color: #03b3ad
}

.btn-line-brown {
  border-color: #ffcc80;
  background: #fff;
  color: #ffcc80
}

.btn-line-brown:hover {
  color: #fff;
  background-color: #f9cb7e;
  border-color: #f9cb7e
}