/* site-footer */
.site-footer .footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0
}

.site-footer .list-service {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.site-footer .list-service li {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center
}

.site-footer .list-service li:first-child {
  border-left: 0
}

.site-footer .list-service em[class*=iconfont] {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -4px
}

.site-footer .list-service a {
  color: #616161;
  transition: color .2s
}

.site-footer .list-service a:hover {
  color: #ff6700
}

/* footer-links */

.site-footer .footer-links {
  padding: 40px 0
}

.site-footer .footer-links .col-links {
  float: left;
  width: 160px;
  margin: 0
}

.site-footer .footer-links .col-links li:first-of-type {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242
}

.site-footer .footer-links .col-links li {
  margin: 10px 0 0;
  font-size: 12px;
  list-style: none;
}

.site-footer .footer-links .col-links a {
  color: #757575
}

.site-footer .footer-links .col-links a:hover {
  color: #ff6700
}

.site-footer .footer-links .col-contact {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161
}

.site-footer .footer-links .col-contact p {
  margin: 0 0 5px 0;
  font-size: 12px
}

.site-footer .footer-links .col-contact .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700
}

.site-footer .footer-links .col-contact .follow {
  font-size: 12px;
  margin-top: 10px;
  position: relative
}

.site-footer .footer-links .col-contact .follow img {
  width: 126px;
  height: 126px;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 100px;
  display: none
}

.site-footer .footer-links .col-contact .follow a {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px
}

.site-footer .footer-links .col-contact .follow .wb {
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wb.png) 50% 0 no-repeat;
  background-size: cover
}

.site-footer .footer-links .col-contact .follow .wb:hover {
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wb@2x.png)
}

.site-footer .footer-links .col-contact .follow .wx {
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wx.png) 50% 0 no-repeat;
  background-size: cover
}

.site-footer .footer-links .col-contact .follow .wx:hover {
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wx@2x.png)
}

.site-footer .footer-links .col-contact .follow .wx:hover+img {
  display: block;
}

/* site-info */

.site-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa
}

.site-info .container {
  position: relative
}

.site-info .logo {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(//s02.mifile.cn/assets/static/image/logo-footer.png) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0
}

.site-info .info-text {
  color: #b0b0b0;
  padding-left: 67px
}

.site-info .info-text p {
  margin: 0;
  line-height: 18px
}

.site-info .info-text a {
  color: #b0b0b0
}

.site-info .info-text a:hover {
  color: #ff6700
}

.site-info .info-text .sites a {
  color: #757575
}

.site-info .info-text .sites a:hover {
  color: #ff6700
}

.site-info .info-text .sites .sep {
  margin: 0
}

/* info-links */

.site-info .info-links {
  height: 28px;
  margin: 4px 0 15px;
  padding-left: 67px
}

.site-info .info-links a {
  display: inline-block
}

.site-info .info-links img {
  width: auto;
  height: 28px;
  margin-left: 0
}

.site-info .info-links .safe-auth {
  width: 150px;
  height: 40px;
  overflow: hidden;
  margin-left: 5px;
  position: relative
}

.site-info .info-links .safe-auth img {
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff
}

.site-info .info-links .safe-auth .img1 {
  opacity: 1
}

.site-info .info-links .safe-auth.active .img1,
.site-info .info-links .safe-auth .img2 {
  opacity: 0
}

.site-info .info-links .safe-auth.active .img2 {
  opacity: 1
}

.site-info .slogan {
  clear: both;
  margin: 30px auto 0;
  width: 100%;
  height: 19px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0
}