<div class="form-body">
  <div class="item">
    <div class="col mr mi-input">
      <label class="input-label" for="name">姓名</label>
      <input name="name" type="text" class="input-text" value="{{address ? address.consignee : ''}}">
      <p class="msg msg-error" style="display: none;"></p>
      <span class="iconfont-circle-close icon-error" style="display: none;"></span>
    </div>
    <div class="col mi-input">
      <label for="telephone" class="input-label">手机号</label>
      <input name="telephone" type="text" class="input-text" value="{{address ? address.telephone : ''}}">
      <p class="msg msg-error" style="display: none;"></p>
      <span class="iconfont-circle-close icon-error" style="display: none;"></span>
    </div>
  </div>
  <div class="item address-info-box">
    <div class="col mi-input">
      <label class="input-label" for="address"></label>
      <input type="text" name="address" placeholder="选择省 / 市 / 区 / 街道" readonly="readonly" maxlength=""
        autocomplete="off" class="input-text show-placeholder"
        value="{{address ? address.province_name + ' ' + address.city_name + ' ' + address.district_name + ' ' + address.area_name : ''}}">
      <p class="msg msg-error" style="display: none;"></p>
      <span class="iconfont-circle-close icon-error" style="display: none;"></span>
    </div>
    <i class="iconfont iconfont-arrow-down-small"></i>
    <div class="address-select-box">
      <div class="con">
        <i class="iconfont iconfont-close-small"></i>
        <div class="search-address">
          <i class="iconfont iconfont-search"></i>
          <div class="col search-input mi-input ">
            <label for="search" class="input-label"></label>
            <input type="text" name="search" placeholder="输入街道、乡镇、小区或商圈名称" maxlength="" autocomplete="off"
              class="input-text show-placeholder" style="height: 44px; padding-left: 45px;">
            <i class="iconfont iconfont-circle-close clear"></i>
            <p class="msg msg-error" style="display: none;"></p>
            <span class="iconfont-circle-close icon-error" style="display: none;"></span>
          </div>
          <div class="search-example">例如：北京 华润五彩城</div>
          <div class="result-box">
            <div class="result-list">

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="item">
    <div class="col mi-input">
      <label class="input-label" for="addressInfo">详细地址</label>
      <textarea name="addressInfo" placeholder="详细地址，路名或街道名称，门牌号" maxlength="" autocomplete="off"
        class="input-text">{{address ? address.address : ''}}</textarea>
      <p class="msg msg-error" style="display: none;"></p>
      <span class="iconfont-circle-close icon-error" style="display: none;"></span>
    </div>
  </div>
  <div class="item">
    <div class="col mi-input">
      <label class="input-label" for="addresstag">地址标签</label>
      <input type="text" name="addresstag" placeholder="如&quot;家&quot;、&quot;公司&quot;。限5个字内" maxlength=""
        autocomplete="off" class="input-text" value="{{address ? address.tag_name : ''}}">
      <p class="msg msg-error" style="display: none;"></p>
      <span class="iconfont-circle-close icon-error" style="display: none;"></span>
    </div>
  </div>
</div>