<div class="sub-header">
  <div class="container">
    <div class="header-logo">
      <a href="/" class="logo ir">小米官网</a>
    </div>
    <div class="header-title">
      <h2>{{title}}</h2>
      <p>温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</p>
    </div>
    <div class="header-info">
      <span class="c-user">
        <span class="user">
          <a class="user-name" href="">
            <span class="name"></span>
            <i class="iconfont-arrow-down-mini"></i>
          </a>
          <div class="user-menu-wrapper">
            <ul class="user-menu">
              <li><a href="#">个人中心</a></li>
              <li><a href="#">评价晒单</a></li>
              <li><a href="#">我的喜欢</a></li>
              <li><a href="#">小米账户</a></li>
              <li><a id="signOut" href="#">退出登录</a></li>
            </ul>
          </div>
        </span>
        <span class="sep">|</span>
        <a href="#" class="link link-order">我的订单</a>
      </span>
      <span class="c-login"><a class="link" href="/login.html">登录</a>
        <span class="sep">|</span>
        <a class="link" href="/login.html#register">注册</a></span>
    </div>
  </div>
</div>