/* swiper */

#swiper {
    width: 1226px;
    height: 460px;
}

#swiper2 {
    width: 978px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

#swiper .swiper-button-next,
#swiper .swiper-button-prev {
    width: 41px;
    height: 69px;
    background-image: url(../images/icon-slides.png);
}

#swiper .swiper-button-prev {
    left: 234px;
    background-position: -83px 0;
}

#swiper .swiper-button-prev:hover {
    background-position: 0 0;
}

#swiper .swiper-button-next {
    right: 0;
    background-position: right 0;
}

#swiper .swiper-button-next:hover {
    background-position: -41px 0;
}

#swiper .swiper-button-next:after,
#swiper .swiper-button-prev:after {
    display: none;
}

#swiper.swiper-container-horizontal>.swiper-pagination-bullets {
    left: auto;
    right: 30px;
    bottom: 20px;
    width: auto;
}

#swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: hsla(0, 0%, 100%, 0.3);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

#swiper .swiper-pagination-bullet-active {
    border-color: rgba(0, 0, 0, .4);
    background-color: hsla(0, 0%, 100%, .4);
}

.flashsale-list .btn-control {
    position: absolute;
    right: 0;
    top: 24px
}

.flashsale-list .btn-prev,
.flashsale-list .btn-next {
    display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    transition: color .5s;
    color: #b0b0b0;
    text-align: center;
    cursor: pointer
}

.home-flashsale .btn-next:focus,
.home-flashsale .btn-prev:focus {
    outline: none
}

.home-flashsale .btn-next:hover,
.home-flashsale .btn-prev:hover {
    color: #ff6700
}

.home-flashsale .btn-next.navigation-disabled,
.home-flashsale .btn-prev.navigation-disabled {
    color: #e0e0e0;
    cursor: default
}

/* home-hero */
.home-hero {
    margin-bottom: 26px;
}

.home-hero .hero-swiper {
    height: 460px;
}

.home-hero .hero-sub {
    margin-top: 14px;
    height: 170px;
}

.home-channel-list {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}

.home-channel-list li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px
}

.home-channel-list li:after,
.home-channel-list li:before {
    position: absolute;
    content: "";
    background: #665e57
}

.home-channel-list li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px
}

.home-channel-list li:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px
}

.home-channel-list a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    color: #fff;
    opacity: .7;
    transition: opacity .2s
}

.home-channel-list a:hover {
    opacity: 1
}

.home-channel-list img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px
}

/* promo-list */

.home-promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.home-promo-list li {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
    transition: box-shadow .2s linear;
}

.home-promo-list li:first-of-type {
    margin-left: 0;
}

.home-promo-list li:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}

.home-promo-list li.first {
    margin-left: 0
}

.home-promo-list a {
    display: block;
    height: 170px;
    background: url(http://i1.mifile.cn/f/i/2014/cn/placeholder-80.png) no-repeat 50%
}

.home-promo-list img {
    display: block;
    width: 316px;
    height: 170px
}

/* page-main */

.page-main {
    padding-top: 4px;
    padding-bottom: 12px;
    background: #f5f5f5;
}

.home-flashsale {
    position: relative;
}

.box-hd {
    position: relative;
    height: 58px;
}

.box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}


.home-flashsale .flashsale-countdown {
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
    border-top-color: #e53935;
}

.home-flashsale .flashsale-countdown .round {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px
}

.home-flashsale .flashsale-countdown img {
    margin: 25px auto
}

.home-flashsale .flashsale-countdown .desc {
    color: rgba(0, 0, 0, .54);
    font-size: 15px
}

.home-flashsale .flashsale-countdown .countdown {
    width: 168px;
    margin: 28px auto 0
}

.home-flashsale .flashsale-countdown .countdown span {
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left
}

.home-flashsale .flashsale-countdown .countdown i {
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal
}


/* flashsale-list */
.home-flashsale .flashsale-list {
    float: left
}

.home-flashsale .flashsale-list ul {
    margin: 0;
    padding: 0;
    height: 340px
}

.home-flashsale .flashsale-list li {
    width: 234px;
    margin-right: 14px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: #fff;
    transition: all .6s;
    position: relative;
    list-style: none
}

.home-flashsale .flashsale-list li:hover {
    z-index: 2
}

.home-flashsale .flashsale-list li a {
    display: block;
    height: 300px;
    padding-top: 39px;
    position: relative
}

.home-flashsale .flashsale-list li a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .02)
}

.home-flashsale .flashsale-list .thumb {
    display: block;
    width: 160px;
    margin: 0 auto 22px
}

.home-flashsale .flashsale-list .thumb img {
    width: 160px;
    height: 160px
}

.home-flashsale .flashsale-list .title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap
}

.home-flashsale .flashsale-list .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap
}

.home-flashsale .flashsale-list .price {
    margin: 0;
    color: #ff6709
}

.home-flashsale .flashsale-list .price del {
    color: #b0b0b0
}


/* hone-banner */

.page-main .home-banner-box {
    height: 120px;
    margin: 22px 0;
    overflow: hidden;
}

.page-main .home-banner-box a {
    display: block;
}

.page-main .home-banner-box img {
    display: block;
    width: 100%;
    height: 100%;
}

/* home-brick */
.box-hd .more {
    position: absolute;
    top: 0;
    right: 0
}

.box-hd .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s
}

.box-hd .more .more-link:hover {
    color: #ff6700
}

.box-hd .more .more-link:hover .iconfont {
    background: #ff6700
}

.box-hd .more .more-link .iconfont {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
    transition: all .4s
}

.box-hd .more .control {
    margin-left: -1px
}

.home-brick-box {
    margin-bottom: 8px
}

.home-brick-box .box-hd .more .tab-list li {
    margin: 0 0 0 30px
}

.home-brick-box .brick-list,
.home-brick-box .brick-promo-list {
    margin: 0 0 -14px -14px
}

.home-brick-box .tab-content-hide {
    display: none
}

.brick-list,
.brick-promo-list {
    height: 614px;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.brick-list {
    width: 992px
}

.brick-promo-list a {
    display: block;
    width: 100%;
    height: 100%
}

.brick-promo-list img {
    width: 234px
}


.brick-promo-list .brick-item-m {
    height: 300px;
    padding: 0
}

.brick-promo-list .brick-item-m img {
    height: 300px
}

.brick-item {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    transition: all .2s linear
}

.brick-item:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0)
}

.brick-item-l {
    height: 614px
}

.brick-item-m {
    height: 246px;
    padding: 34px 0 20px
}

.brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px
}

.brick-item-m .figure-img a {
    display: block
}

.brick-item-m .figure-img img {
    width: 150px;
    height: 150px
}

.brick-promo-list .brick-item-l img {
    height: 614px
}

.brick-item-m .title {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333
}

.brick-item-m .desc,
.brick-item-m .title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.brick-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0
}

.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700
}

.brick-item-m .price del {
    margin-left: .5em;
    color: #b0b0b0
}

.brick-item-m-2 {
    height: 260px;
    padding: 20px 0
}

.brick-item-m-2 .figure-img,
.brick-item-m-2 .figure-img img {
    width: 160px;
    height: 160px
}

.brick-item-m-2 .title {
    margin: 0 10px 2px
}

.brick-item-m-2 .price {
    margin: 0 10px 14px
}


.box-hd .more .tab-list li:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700
}

.box-hd .more .tab-list li {
    margin: 0 0 0 30px
}

.box-hd .more .tab-list {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px
}

.box-hd .more .tab-list li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: border .3s;
    cursor: pointer
}