.nav-category .link-category {
  visibility: visible;
}

.site-category {
  display: none;
}

.page-main {
  padding: 38px 0;
  background: #f5f5f5;
}

.buy-succ-box {
  margin-bottom: 26px;
  padding: 0 0 28px 0;
  height: 68px;
  border-bottom: 1px solid #e0e0e0;
}

.buy-succ-box .goods-content {
  float: left;
}

.buy-succ-box .goods-content .goods-img {
  float: left;
  width: 64px;
  height: 64px;
}

.buy-succ-box .goods-content .goods-img img {
  border: 0;
  width: 64px;
  height: 64px;
}

.buy-succ-box .goods-content .goods-info {
  float: left;
  margin-left: 20px;
}

.buy-succ-box .goods-content .goods-info h3 {
  margin: 0;
  color: #424242;
  font-size: 24px;
  font-weight: 400;
  margin-top: 3px;
}

.buy-succ-box .goods-content .goods-info .name {
  margin-right: 15px;
  font-size: 14px;
  color: #757575;
}

.buy-succ-box .actions {
  float: right;
}

.buy-succ-box .actions .btn {
  width: 180px;
  margin-left: 12px;
  margin-top: 5px;
}

.mi-recommend {
  margin-top: 70px;
}

.mi-recommend .recommend-title {
  position: relative;
  margin: 0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}

.mi-recommend .recommend-title span {
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}

.mi-recommend .recommend-body {
  width: 1240px;
  transform: translate3d(0px, 0px, 0px);
}

.mi-recommend .recommend-body .recommend-list {
  overflow: hidden;
}

.mi-recommend .recommend-body .recommend-list .recommend-item {
  float: left;
  width: 234px;
  height: 300px;
  margin-right: 14px;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
  list-style: none;
  background-color: #fff;
  text-align: center;
}

.mi-recommend .recommend-body .recommend-list .recommend-item:hover .recommend-action {
  opacity: 1;
  transform: translateY(0);
}

.mi-recommend .recommend-body .recommend-list .recommend-item a img {
  display: block;
  margin: 40px auto 20px;
  width: 140px;
  height: 140px;
}

.mi-recommend .recommend-body .recommend-list .recommend-item a .recommend-name {
  margin: 0 10px 10px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}

.mi-recommend .recommend-body .recommend-list .recommend-item a .recommend-price {
  margin-bottom: 10px;
  color: #ff6700;
}

.mi-recommend .recommend-body .recommend-list .recommend-item a .recommend-tips {
  position: relative;
  color: #757575;
}

.mi-recommend .recommend-body .recommend-list .recommend-item .recommend-action {
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  opacity: 0;
  transform: translateY(200%);
  transition: all .4s;
}

.mi-recommend .recommend-body .recommend-list .recommend-item .recommend-action .btn {
  width: 120px;
}

.mi-recommend .recommend-body .recommend-list .recommend-item .recommend-notice {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
  transition: all .2s linear;
}

.mi-recommend .recommend-body .recommend-list .recommend-item .recommend-notice .btn {
  border-width: 0;
}

.mi-recommend .recommend-body .recommend-list .recommend-item .recommend-notice.show-notice {
  opacity: 1;
  transform: translateY(0);
}
