<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>小米首页</title>
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="lib/swiper.min.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="home-hero-container container">
    <div class="home-hero">
      <div class="hero-swiper">
        <div class="swiper-container" id="swiper">
          <div class="swiper-wrapper">
          </div>
          <!-- 分页器 -->
          <div class="swiper-pagination"></div>
          <!-- 导航按钮 -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="hero-sub row">
        <div class="span4">
          <ul class="home-channel-list clearfix"></ul>
        </div>
        <div class="span16">
          <ul class="home-promo-list clearfix"></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-main">
    <div class="container">
      <div class="home-flashsale">
        <div class="box-hd">
          <h2 class="title">小米秒杀</h2>
        </div>
        <div class="box-bd">
          <div class="row">
            <div class="span4 flashsale-countdown">
              <div class="round">14:00 场</div>
              <img src="data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAA1CAYAAAAklDnhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
              bWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
              bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
              eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1
              MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
              dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
              dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
              IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
              ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
              cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5j
              ZUlEPSJ4bXAuaWlkOjY4Q0ZFMkY5MTJFNzExRThCMkM4OEM1RTNBNjczQUVBIiB4bXBNTTpEb2N1
              bWVudElEPSJ4bXAuZGlkOjY4Q0ZFMkZBMTJFNzExRThCMkM4OEM1RTNBNjczQUVBIj4gPHhtcE1N
              OkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NjhDRkUyRjcxMkU3MTFFOEIy
              Qzg4QzVFM0E2NzNBRUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NjhDRkUyRjgxMkU3MTFF
              OEIyQzg4QzVFM0E2NzNBRUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94Onht
              cG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5oEyacAAACoklEQVR42sSYv0tbURTHX0LqD6T4g4pE
              cHDoUOloBxVd/QFFEcQqWtrSKlKFmmAslopohzgIbv4FwUEE0clFujiIi+BSIbRQ0ooKRReRULHf
              S48Qgu++c3/FAx+iyU3eJzf3nnPuC/1qavQ04zVY8szjCHRGNN9cBD6DSkOJKzAGzsOaH/AW1FuY
              jRg4EH/oiJSCTxYk1sDK7T86Iu9BraHED/Au9wlVkYdg2lAiC/rBhYnIB/DIUOQj2M9/UkWkCsQN
              JbbA8l0vqIhMgXIDiZ/gFbgxEakBEwYSf8Eg+OM3gCsyA8oMRETy25UN4IjUgVEDiW2wGDSIIzIL
              ijUljsFLv3WhIvKYFphOXNO6OOUMDhKZA7qFcQF85Q6WXeQpeKEpcULlvY8xthp8iwR8I93qLLb7
              KnOsSPWNfhd6Bro99yHqTi9IhyWzEXIsIXbSG7Djt1jbQHsBZkMkyZRs13wpgIRoiJKy7dsBWh1L
              bN5Vt3JFQrQ2XMYeGKBk5yvSI7aRQ4k0eA4uZZlVPM47lDgTZxd6lKb4AcqkLuKSZiIdVGsiVFNc
              xDV9yT1Orekjoe+MDw4pHqwmaJewit66Ql0QaX+DOTaZe4DitAFZxQaaEynKnJ6KCDeaQAtj3A7V
              kBtXIpwT3iFV06zqquaKPKEtKIsM6Mo/StoWiQeMvSCJjO4+54hEwTCjuTk0STgckUm6QxTY3LgU
              Kc+/jyFrblyKCIkKbnPjSkT8HDGV5saVyBAtVHZz40Ik7HNTRtrcuBARF2tQbW5ciCR0mhvbIs2E
              cnNjWySh29zYFGnIK25KzY1Nkdziptzc2BKJUu7Qbm5sicQom2o3NzZEKqiu/DZpbmyIjIAHNBMZ
              7x4iTALjhcgVQSIl3v87w5vePcY/AQYAFYR6skFSqBUAAAAASUVORK5CYII=" alt="">
              <div class="desc">距离结束还有</div>
              <div class="countdown">
                <span>00</span>
                <i>:</i>
                <span>14</span>
                <i>:</i>
                <span>18</span>
              </div>
            </div>
            <div class="span16 flashsale-list">
              <div class="swiper-container" id="swiper2">
                <ul class="swiper-wrapper">
                  <!-- <li class="swiper-slide">
                    <a href="">
                      <div class="content">
                        <div class="thumb"></div>
                        <h3 class="title"></h3>
                        <p class="desc"></p>
                        <p class="price">
                          <span></span>
                          <del></del>
                        </p>
                      </div>
                    </a>
                  </li> -->
                </ul>
              </div>
              <div class="btn-control">
                <span class="btn-prev"><i class="iconfont-arrow-left-big"></i></span>
                <span class="btn-next"><i class="iconfont-arrow-right-big"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="footer"></div>

  <script id="swiperItem" type="text/html">
    {{each swiperList swiperItem}}
     <div class="swiper-slide"><img src={{swiperItem.imgUrl}} /></div>
    {{/each}}
  </script>

  <script id="swiper2Item" type="text/html">
    {{each flashSlideList}}
      <li class="swiper-slide swiper-no-swiping">
        <a href="#">
          <div class="content">
            <div class="thumb"><img src={{$value.img}} alt={{$value.desc}} /></div>
            <h3 class="title">{{$value.goods_name}}</h3>
            <p class="desc">{{$value.desc}}</p>
            <p class="price">
              <span>{{$value.seckill_Price}}</span>
              <del>{{$value.goods_price}}</del>
            </p>
          </div>
        </a>
      </li>
    {{/each}}
  </script>

  <script id="promoItem" type="text/html">
    {{each promoList}}
      <li>
        <a href={{$value.link}}><img src={{$value.imgUrl}} alt=""></a>
      </li>
    {{/each}}
  </script>

  <script id="channelItem" type="text/html">
    {{each channelList}}
      <li>
        <a href={{$value.link}}>
          <img
            src={{$value.imgUrl}}
            alt={{$value.value}}>
            {{$value.value}}
          </a>
      </li>
    {{/each}}
  </script>

  <script id="productItem" type="text/html">
    {{each productList product}}
      <li class="brick-item brick-item-m brick-item-m-2">
        <a href={{product.action.path}}>
          <div class="figure figure-img"><img src={{product.img_url}} alt=""></div>
          <h3 class="title">{{product.product_name}}</h3>
          <p class="desc">{{product.product_brief}}</p>
          <p class="price">
            <span class="num">{{product.product_price}}</span>
            <span>{{product.product_org_price}}</span>
          </p>
        </a>
      </li>
    {{/each}}
  </script>



  <script id="floorItem" type="text/html">
    {{each goodsFloorData item}}

      {{if item.view_type === 'cells_auto_fill'}}

        <div class="home-banner-box">
          <a href={{item.body.items[0].action.path}}><img
              src={{item.body.items[0].img_url}}
              alt=""></a>
        </div>

      {{else if item.view_type === 'list_eight_product'}}

        <div class="home-brick-box home-brick-row-2-box">
          <div class="box-hd">
            <h2 class="title">{{item.body.floor_name}}</h2>
            <div class="more">
              <a href={{item.body.action.path}} class="more-link">
                {{item.body.more_text}}
                <i class="iconfont iconfont-arrow-right-big"></i>
              </a>
            </div>
          </div>
          <div class="box-bd">
            <div class="row">
              <div class="span4">
                <ul class="brick-promo-list">
                  <li class="brick-item brick-item-l">
                    <a href={{item.body.left_ad.items[0].action.path}}><img
                        src={{item.body.left_ad.items[0].img_url}}
                        alt=""></a>
                  </li>
                </ul>
              </div>
              <div class="span16">
                <ul class="brick-list">
                  <% include('productItem',{productList:item.body.product_list}) %>
              </ul>           
              </div>
            </div>
          </div>
        </div>

      {{else if item.view_type === 'list_eight_product_tab'}}

        <div class="home-brick-box home-brick-row-2-box">
          <div class="box-hd">
            <h2 class="title">{{item.body.floor_name}}</h2>
            <div class="more">
              <ul class="tab-list">

                {{each item.body.tab_content tab}}

                  <li>{{tab.tab_name}}</li>
                  
                {{/each}}

                </ul>         
            </div>
          </div>
          <div class="box-bd">
            <div class="row">
              <div class="span4">
                <ul class="brick-promo-list">
                
                  {{each item.body.left_ad.items l}}

                    <li class="brick-item brick-item-m">
                      <a href={{l.action.path}}><img
                          src={{l.img_url}}
                          alt=""></a>
                    </li>

                  {{/each}}

                </ul>
              </div>
              <div class="span16">
            
                {{each item.body.tab_content tab i}}
                  <ul class='{{ "brick-list " + (i !== 0 ? "hide" : '')}}'>                   
                    {{each tab.product_list.slice(0,-1) product}}

                      <li class="brick-item brick-item-m brick-item-m-2">
                        <a href="{{product.action.path}}">
                          <div class="figure figure-img"><img src="{{product.img_url}}" alt=""></div>
                          <h3 class="title">{{product.product_name}}</h3>
                          <p class="desc">{{product.product_brief}}</p>
                          <p class="price">
                            <span class="num">{{product.product_price}}</span>
                            <span>{{product.product_org_price}}</span>
                          </p>
                        </a>
                      </li>

                    {{/each}}
                </ul>
                {{/each}}

              </div>
            </div>
          </div>
        </div>
      {{/if}}

    {{/each}}
</script>

  <script data-main="js/main" src="./lib/require.js"></script>

</body>

</html>