.mi-popup {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

}

.mi-popup__mask {
  z-index: 9998;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #000;
}

.mi-popup__box {
  z-index: 9999;
  width: 660px;
  // height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  // overflow: hidden;

  .mi-popup__header {
    position: relative;
    height: 32px;
    padding: 14px 20px;
    line-height: 32px;
    background-color: #f5f5f5;

    .title {
      font-size: 18px;
      font-weight: 400;
      color: #424242;
      vertical-align: middle;
    }
  }

  .header-btn {
    position: absolute;
    right: 14px;
    top: 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;

    .mi-close {
      vertical-align: middle;
      font-size: 24px;
      font-weight: 200;
    }
  }

  .mi-popup__body {
    padding: 20px;
  }

  .mi-popup__footer {
    height: 40px;
    padding: 40px 0;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    background-color: #f5f5f5;

    button {
      margin: 0 7px;
    }
  }
}