.sub-header {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  position: relative;
  z-index: 20;
  height: 100px;
}

.sub-header .header-logo {
  width: 93px;
  margin-top: 26px;
  float: left;
}

.sub-header .header-logo a {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  background-color: #ff6700;
}

.header-logo .logo:after,
.header-logo .logo:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 48px;
  height: 48px;
  content: "";
  transform-origin: 50% 50%;
  transition: all .2s;
}


.header-logo .logo:before {
  background: url(https://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
  opacity: 1;
}

.header-logo .logo:after {
  background: url(https://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
  opacity: 0;
  margin-left: -55px;
}

.logo:hover:before {
  opacity: 0
}


.logo:hover:after {
  opacity: 1
}


.sub-header .logo:hover:after,
.sub-header .logo:hover:before {
  transform: translateX(55px)
}

.header-title {
  float: left;
  margin-top: 26px
}

.header-title h2,
.header-title p {
  margin: 0
}

.header-title h2 {
  height: 48px;
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
  color: #424242;
  float: left;
  margin-bottom: 0;
}



.header-title p {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575
}

.header-info {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
}

.header-info .link {
  padding: 0 5px;
  text-align: center;
  float: left;
}

.header-info .sep {
  float: left;
}

.c-user {
  display: none;
}

.header-info .user {
  float: left;
  position: relative;
  width: 110px;
  padding: 0;
  white-space: nowrap;
  display: none;
}

.header-info .user .user-name {
  position: relative;
  z-index: 5;
  display: block;
  width: 110px;
  height: 40px;
  text-align: center;
}

.user-name .name {
  display: inline-block;
  width: auto;
  max-width: 75px;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  overflow: hidden;
}

.user-name i {
  font-size: 24px;
  line-height: 24px;
  vertical-align: 9px;
}

.user-menu-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 3;
  height: 0;
  overflow: hidden;
  transition: height .3s;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.user:hover .user-menu-wrapper {
  height: 164px;
}

.user-menu {
  width: 110px;
  margin: 0;
  padding: 7px 0;
  list-style-type: none;
}

.user-menu a {
  display: block;
  padding: 3px 30px;
  line-height: 2;
}

.user-active a {
  color: #424242;
}

.user-active a:hover {
  color: #ff6700;
}

.user-active .user-name {
  background: #fff;
}

.user-active .user-menu {
  display: block;
}

.user-active .user-menu a {
  transition: all .2s;
}

.user-active .user-menu a:hover {
  background-color: #f5f5f5;
}

.link-order {
  width: 70px;
}